.filled {
  .button {
    background-color: #ff7566;
    border: none;
    // padding: 15px 50px;
    text-align: center;
    text-decoration: none;

    // box-shadow: 0px 4px 5px grey;
  }
}

.border {
  .button {
    border: 3px solid #7ae8d4;
    background-color: white;
  }
}

button {
  width: 200px;
  height: 45px;
  transition: all 0.3s ease;
  justify-content: center;
}

button:hover {
  width: 210px;
  background: #ff7566;
  // box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, 0.2);
}

.alignedbuttons {
  display: grid;
  grid-template-columns: 225px 225px;
}
