.menu {
  text-align: right;
  display: flex;
  flex-direction: column;
  .link {
    text-decoration: none;
    color: black;
    opacity: 0.5;
    margin: 10px 0px;
    display: inline;

    &:focus {
      opacity: 1;
    }
  }
}

.hoverlink {
  top: 0px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  &:hover {
    transition: all 0.2s ease-out;
    font-size: 26px;
    color: black;
  }
}
