.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 50px;
  img {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
}
