.navbar {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  position: relative;
  height: 100%;

  .logo {
    margin: 10px;
  }

  .navlinks {
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
  }
}
