.App {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 320px auto;
  height: 100;
}

.xs {
  font-size: 16px;
}

.sm {
  font-size: 24px;
}

.md {
  font-size: 24px;
}

.lg {
  font-size: 40px;
}

.xl {
  font-size: 50px;
}

.xxl {
  font-size: 100px;
}

.thin {
  font-weight: 100;
}

.extralight {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extrabold {
  font-weight: 800;
}

.black {
  font-weight: 900;
}

.op1 {
  opacity: 0.7;
}

.op2 {
  opacity: 0.8;
}

.op {
  opacity: 1;
}
